$color-salmon: #fd6167;
$color-peach: #fec0a4;
$color-mint: #8ad4b4;
$color-teal: #21acb0;
$color-navy: #0f4a5c;
$color-darkgrey: #333;
$color-medgrey: #888;
$color-lightgrey: #ccc;

$primary: #B7DAD8;
$secondary: #6DC8BF;
$selectorgray: #003334;
$logodark: #009898;
$logolight: #71C8F0;
$gogreen: #37B34A;
$pausegreen: #98CA3C;
$cautionyellow: #FAAF40;
$warningorange: #F89961;
$stopred: #D03727;











