$color-salmon: #fd6167;
$color-peach: #fec0a4;
$color-mint: #8ad4b4;
$color-teal: #21acb0;
$color-navy: #0f4a5c;
$color-darkgrey: #333;
$color-medgrey: #888;
$color-lightgrey: #ccc;

$primary: #b7dad8;
$secondary: #6dc8bf;
$selectorgray: #003334;
$logodark: #009898;
$logolight: #71c8f0;
$gogreen: #37b34a;
$pausegreen: #98ca3c;
$cautionyellow: #faaf40;
$warningorange: #c14432;
$stopred: #a10c11;

$risk-colors: (
  1: $gogreen,
  2: $pausegreen,
  3: $cautionyellow,
  4: $warningorange,
  5: $stopred,
);

@mixin risk-colors($name, $prop, $args: $risk-colors) {
  @each $ext, $color in $args {
    #{$name}#{($ext)} {
      #{$prop}: $color;
    }
  }
}
